.product-create-container {
  width: 60%;
  margin: auto;
  border: 2px solid;
  padding: 1rem;
  border-radius: 0.8rem;
  margin-top: 1rem;
}
.product-create-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-create-container form input,
.product-create-container form textarea {
  padding: 0.7rem 0.45rem;
  outline: none;
  background-color: rgb(79, 79, 107);
  color: white;
  font-weight: bold;
}
